#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gradient-sea-blue {
  background: linear-gradient(to right, #2b5876, #4e4376);
}

.gradient-purple-love {
  background: linear-gradient(to right, #cc2b5e, #753a88);
}

.gradient-mango {
  background: linear-gradient(to right, #ffe259, #ffa751);
}
